<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__picture">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIRNgOEIkIKV1qsSELV_ToIKn6CbMqnIKlQb9kdVQ-HY2FOmPGf83CurRKacgrKGhMTKs&usqp=CAU"
        alt=""
      />
    </div>
    <div class="small-card__title">
      <h1><a href="">Projeto Angular no jeitinho brasileiro </a></h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>
